# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Logs
logs/
*.log

# Environment variables
.env

# Optional npm cache
.npm/

# Optional build directories
dist/
build/
